.ChatMain__message
  .MessageBox{data: {message: {id: message.id}}}
    .MessageBoxUser
      .MessageBoxUser__Username 
        = message.user.name
      .MessageBoxUser__Date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .MessageText
          - if message.content.present?
            %p.MessageLine
              = message.content
          = image_tag message.image.url, class: 'Message__image' if message.image.present?